
/* BASE STYLES */
:root {
    --black: #000000;
    --white: #ffffff;
    --blue:#371259;
    --fuchsia: #FF6AFF;
    --orange: #FF7E00;
    --yellow: #FFD500;
    --cyan: #00FFFF;
    --lavender: #E6E6FA;
    --teal: #008080;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
}
.container {
    max-width: 1000px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--orange);
    align-items: flex-start;
}

.item {
    background-color: var(--fuchsia);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    font-size: 2em;
}

.item-2 {
    align-self: baseline;
}

.item-3 {
    font-size: 4em;
    align-self: baseline;
}
