<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="grid-sample.css">
</head>

<body>
  <div class="container">
    <header>
      <div>主页 </div>
      <div>搜索</div>
      <div>注销</div>
    </header>
    <aside>MENU</aside>
    <main>CONTENT</main>
    <footer>FOOTER</footer>
  </div>
</body>

</html>