.container {
    width: 200px;
    height: 150px;
    background-color: black;
    display: flex;
    margin: 10px
}

.item {
    box-sizing: border-box;
    background-color: white;
    height: 50px;
    border: 1px solid red;
    margin: 2px
}

.container-flex {
    display: flex;
    flex-flow: row wrap;
}

.item-flex {
    flex: 0 0 25%;
}

.container-flex-center {
    display: flex;
    justify-content: center;  /*horizontal*/
    align-items: center;      /*vertical*/ 
}

.item-flex-center {
    flex: 0 0 25%;
}