/* BASE STYLES */
:root {
    --black: #000000;
    --white: #ffffff;
    --blue:#371259;
    --fuchsia: #FF6AFF;
    --orange: #FF7E00;
    --yellow: #FFD500;
    --cyan: #00FFFF;
    --lavender: #E6E6FA;
    --teal: #008080;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
}
.container {
    max-width: 1000px;
    display: flex;
    border: 3px solid var(--orange);
    flex-wrap: wrap;
}
.item {
    background-color: var(--fuchsia);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-weight: bold;
    font-size: 2em;
    /* flex: 2; */
    /* flex: 200px;  */
    /* flex: 1 40px; */
    /* flex: 2 2; */
    flex: 2 2 50%;
}